/target
/project/target
/project/project/target

/.idea
/.bsp
/derby.log

/spark-warehouse
/metastore_db

/Core/target
/Core/project/target

/Testing/target
/Testing/project/target

/Validation/target
/Validation/project/target

*.DS_Store